@media (max-width: 1000px) {
  .db_web_wrap {
    width: 100%;
    min-width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .db_web_main .num,
  .db_web_main .writer,
  .db_web_main .count {
    display: none;
  }

  .db_web_main .date {
    width: 40%;
  }

  .db_web_main .title {
    text-indent: 10px;
  }

  .db_web_main .top .title {
    text-indent: 0;
  }

  .db_web_page a {
    width: 26px;
    height: 26px;
  }

  .db_web_page a.bt {
    padding-top: 7px;
  }

  .db_web_page a.num {
    padding-top: 6px;
  }

  .db_web_view .info dl {
    width: 50%;
    padding: 0;
  }

  .db_web_view .info dl:nth-child(-n + 2) {
    margin-bottom: 5px;
  }

  .db_web_view .info dl::before {
    display: none;
  }

  .db_web_view .info dl dt,
  .db_web_view .info dl dd {
    font-size: 1.2rem;
  }

  .db_web_write .info dl {
    width: 49%;
  }

  .db_web_write .info dl:first-child {
    margin-right: 2%;
  }

  .db_web_write .title dt,
  .db_web_write .info dt {
    display: none;
  }

  .db_web_write .title dd,
  .db_web_write .info dd {
    width: 100%;
  }

  .db_web_write .title input[type='text'],
  .db_web_write .info input[type='text'],
  .db_web_write .info input[type='password'] {
    width: 100%;
  }
}
