* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.post-item {
  display: inline-block;
  width: 100%;
}

/* 게시물 항목 내부 요소의 너비와 패딩을 조정합니다. */
.post-item > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

/* 게시물 항목 내부 열의 너비를 조정합니다. */
.post-item .num {
  width: 10%;
}

.post-item .title {
  width: 40%;
  text-align: left;
}

.post-item .writer {
  width: 15%;
}

.post-item .w_date {
  width: 15%;
}

.post-item .count {
  width: 10%;
}
.db_web_wrap {
  width: 1000px;
  margin: 100px auto;
}

.db_web_title {
  margin-bottom: 30px;
}

.db_web_title strong {
  font-size: 3rem;
}

.db_web_title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a,
.bt_wrap button {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
}

.bt_wrap a:first-child,
.bt_wrap button:first-child {
  margin-left: 0;
}

.bt_wrap a.on,
.bt_wrap button.on {
  background: #000;
  color: #fff;
}

.db_web_main {
  width: 100%;
  border-top: 2px solid #000;
}

.db_web_main > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.db_web_main > div.top {
  border-bottom: 1px solid #999;
}

.db_web_main > div:last-child {
  border-bottom: 1px solid #000;
}

.db_web_main > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.db_web_main > div.top > div {
  font-weight: 600;
}

.db_web_main .num {
  width: 10%;
}

.db_web_main .title {
  width: 60%;
  text-align: left;
}

.db_web_main .top .title {
  text-align: center;
}

.db_web_main .writer {
  width: 10%;
}

.db_web_main .date {
  width: 10%;
}

.db_web_main .count {
  width: 10%;
}

.db_web_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.db_web_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.db_web_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.db_web_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.db_web_page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.db_web_page a:first-child {
  border-left: 1px solid #ddd;
}

.db_web_view {
  width: 100%;
  border-top: 2px solid #000;
}

.db_web_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.db_web_view .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.db_web_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.db_web_view .info dl:first-child {
  padding-left: 0;
}

.db_web_view .info dl::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.db_web_view .info dl:first-child::before {
  display: none;
}

.db_web_view .info dl dt,
.db_web_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.db_web_view .info dl dt {
}

.db_web_view .info dl dd {
  margin-left: 10px;
  color: #777;
}

.db_web_view .cont {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size: 1.4rem;
}

.db_web_write {
  border-top: 2px solid #000;
}

.db_web_write .title,
.db_web_write .info {
  padding: 15px;
}

.db_web_write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #000;
  font-size: 0;
}

.db_web_write .title dl {
  font-size: 0;
}

.db_web_write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.db_web_write .title dt,
.db_web_write .title dd,
.db_web_write .info dt,
.db_web_write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

.db_web_write .title dt,
.db_web_write .info dt {
  width: 100px;
}

.db_web_write .title dd {
  width: calc(100% - 100px);
}

.db_web_write .title input[type='text'],
.db_web_write .info input[type='text'],
.db_web_write .info input[type='password'] {
  padding: 10px;
  box-sizing: border-box;
}

.db_web_write .title input[type='text'] {
  width: 80%;
}

.db_web_write .cont {
  border-bottom: 1px solid #000;
}

.db_web_write .cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
}
